/* Стили */

body{
	margin: 0;
	padding: 0;
	font-family: Arial, Tahoma;
	font-size:12px;
}

a{
    font-weight: bold;
    color:#6897bb;
}

.footer, footer {
	color:#c0c0c0;
	font-size:10px;
	margin-top:30px;
	text-align:center;
}


div.login{
	width:200px;
	margin:0 auto;
	border:2px solid #c0c0c0;
	border-radius:10px;
	padding:20px;
}

.error_flash{
	padding:3px;
	text-align:center;
	color:#FF0000;
}

.user-panel{
	padding:10px;
	background:#c0c0c0;
	border-radius:5px;
	margin-bottom:30px;
	text-align:right;
	margin:10px;
}
.fix-nav-bar {
	margin:none;
	position: fixed;
    top: 0;
	width:100%;	
	background:#FFF;
}

.under-user-panel{
	height:60px;
}

.content-layout{
	padding:10px;
}

.monitor-td{
	float:left;
	padding:3px 5px;
	width:200px;
}
#monitor{
	border:1px solid #c0c0c0;
	border-radius:5px;
}
.gray{
	background:#e4e4e4;
}

.menu-column{
	width:200px;
	float:left;
	padding-right:10px;
}

.content{
	width:900px;
        margin:0 auto;
}

.g-hidden { display: none; }

.monitor-row{
    border:1px solid #e4e4e4;
}

.monitor-row-head{
    background: #666666;
    border:1px solid #666666;
    color:#FFFFFF;
    font-weight: bold;
}


/* bootstrap search form */

#custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }